<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grupo Coris</title>

    <link href="~/Styles/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/pp_short.jpg">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
